<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/">Herolo Weather Task</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li>
        <button mat-icon-button>
          <mat-icon routerLink="/" >home</mat-icon>
        </button>
      </li>
      <li>
        <button mat-icon-button>
          <mat-icon fontSet="fas" fontIcon="fa-heart" routerLink="/favorites"></mat-icon>
        </button>
      </li>
    </ul>
  </div>
</mat-toolbar>
  